body{
    margin: 0%;
    padding: 0%;
    width:100% ;
    height:100vw;
    
    

}
.heading{
    height: 110px;
    background:#2C3E50;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self: center
}   

.heading-1{
    color: white;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
}
.side-bar{
    background: white;
    width: 15%;
    height: 100vh;
    
}
.main{
   
    display:flex;
}
.right-side-bar{
    background:#EEF2F7;
    width:100%;
    height:100vh;
    position: relative;
}
.side{
    display:inline-block ;
} 
.side-bar>p{
    padding-left: 10px;
}
.head-1{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.box-1{
    border-radius: 5px;
    width:200px ;
    height:170px ;
    background:#FFF9C4;
    position: relative;
    box-shadow: 0px 10px 20px rgb(0,0,0,0.5);
    position: absolute;
    left: 3%;
    top: 7%;
    
}
.head{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 55%;
    left: 5%;
}
.page{
position: absolute;
top: 25%;
left: 5%;
}
.box-2{
    border-radius: 5px;
    width:200px ;
    height:170px ;
    background:#C8E6C9;
    position: relative;
     box-shadow: 0px 10px 20px rgb(0,0,0,0.5);
    position: absolute;
    left: 23%;
    top: 10%;
}
.box-3{
    border-radius: 5px;
    width:200px ;
    height:170px ;
    background:#FFE0B2;
    position: relative;
    box-shadow: 0px 10px 20px rgb(0,0,0,0.5);
    position: absolute;
    left: 44%;
    top: 13%;
}
.box-4{
    border-radius: 5px;
    width:200px ;
    height:170px ;
    background:#BBDEFB;
    position: relative;
    box-shadow: 0px 10px 20px rgb(0,0,0,0.5);
    position: absolute;
    left:63%;
    top: 17%;
}
.fix-box{
   
    border-top-left-radius:4px;
   display: block;
    
}
.fix-f{
     width: 10%;
    height:9%;
    background: #2C3E50;
    bottom:right:
    
}    