@media(max-width:1360px){

    .mar{display: none;}
    
}
@media(max-width:1360px){
    .white-logo .new-list{display: none;}
    .new-list{}
    .img-2{margin: 0%; 
            margin-left: 10px;
    }
    .red-line{
        display: flex;
        justify-content: end;
    }
    .menu{
        display: flex;
    }
    .img-menu{
        display: block;
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }
}
